doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Photographer Request
      p
        strong someone has requested to join the circle: 
        | .
        br
        |to add a new member to the circle, he/she has to be accepted by you.
      p The Requester:
      ol
        li !{query.first_name,id='cosa'} !{query.last_name}
        li email:  !{query.email}

      td 
          button(id='accept',onClick='onAdd()') accept